<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCC Bot</title>
    <link rel="stylesheet" href="/static/css/tabler.css">
    <script src="/static/js/tabler.js"></script>
    <style>
        .header1 {
            margin: 1% auto 0;
            display: flex;
            width: 90%;
        }
        h1 {
            margin-top: 10%;
            font-size: 40px;
            text-align: center;
        }
        table {
            margin: 4% auto 0;
            font-size: 15px;
            color: gray;
        }
        th {
            padding: 0 50px;
        }
        .button {
            margin: 4% auto 0;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="page">
    <header class="navbar-expand-md d-print-none header1">
        <div class="container-xl">
            <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="/">
                    <img src="/static/img/MCC_logo.png" alt="" width="110" height="32" viewBox="0 0 232 68" class="navbar-brand-image">
                </a>
                <span>
                    &nbsp;MCC Bot Manager
                </span>
            </div>
        </div>
        <div class="navbar-nav flex-row order-md-last">
            <div class="navbar-nav flex-row order-md-last">
                    <a href="https://git.wupeng1.top/2508932142/MCC-Web" class="btn" role="button" target="_blank">项目源码</a>
                &nbsp;
                    <a href="https://mccteam.github.io/l10n/zh-Hans/guide/" class="btn" role="button" target="_blank">MCC文档</a>
            </div>
        </div>
    </header>
    <div class="page-body">
        <h1>Minecraft Console Client 机器人管理平台</h1>
        <table>
            <tr>
                <th>支持各版本Minecraft</th>
                <th>根据权限等级分配Bot名额</th>
            </tr>
            <tr>
                <th>支持Bot消息记录保存</th>
                <th>支持Bot实时执行指令</th>
            </tr>
            <tr>
                <th>支持在线修改配置</th>
                <th>支持打开各种自动功能</th>
            </tr>
        </table>
        <div class="button">
            <a href="/login" class="btn btn-green" role="button">开始使用</a>
            &nbsp;
            <a href="/reg" class="btn btn-primary" role="button">注册</a>
        </div>
        <br>
        <br>
        <br>
        <div class="log" style="width: 90%; margin: 0 auto">
            <h3>V1.2 更新日志</h3>
            <p>如发现问题或者有什么建议的功能请点击 <a href="https://gitee.com/sg250/MCC-Web/issues" target="_blank">问题反馈</a></p>
            <p>- 完善搜索功能, 现可使用搜索功能搜索列表内的机器人</p>
            <p>- 添加更新日志弹窗和打开按钮, 方便用户获取更新内容</p>
            <p>- 完善快捷指令功能, 现可增删修改快捷指令</p>
            <p>- 由于设计缺陷, 同一用户只能创建一个相同id的bot</p>
            <p>- 修复部分bug, 提高稳定性</p>
            <p>- 下版本更新内容: 将支持Bot启动自动执行某些指令, 并完善用户信息界面</p>
            <br>
            <h3>V1.1 更新日志</h3>
            <p>如发现问题或者有什么建议的功能请点击 <a href="https://gitee.com/sg250/MCC-Web/issues" target="_blank">问题反馈</a></p>
            <p>- 完善Bot配置修改, 可在配置修改里删除Bot</p>
            <p>- 目前发现1.20.4 1.19.4版本不稳定 暂时不建议使用这两个版本 建议在跨版本服务器使用1.18.2</p>
            <p>- 现在支持SRV解析的域名, 使用服主提供的不带端口的链接时可不输入端口</p>
            <p>- 管理面板支持音乐播放功能</p>
            <p>- 修复部分bug, 提高稳定性</p>
            <br>
            <h3>V1.0 更新日志</h3>
            <p>如发现问题或者有什么建议的功能请点击 <a href="https://gitee.com/sg250/MCC-Web/issues" target="_blank">问题反馈</a></p>
            <p>- 支持添加Bot,但是还暂未支持Bot的配置修改和Bot的删除</p>
            <p>- 快捷指令UI设计完成,实际功能还未实现</p>
            <p>- 添加Bot搜索框,但暂不支持使用</p>
            <p>- 暂不支持账户修改以及权限升级</p>
        </div>
    </div>
</div>
</body>
</html>