<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCC Bot</title>
    <link rel="stylesheet" href="/static/css/tabler.css">
    <script src="/static/js/tabler.js"></script>
    <style>
        .header1 {
            margin-top: 1%;
        }
        h1 {
            margin-top: 10%;
            font-size: 40px;
            text-align: center;
        }
        table {
            margin: 4% auto 0;
            font-size: 15px;
            color: gray;
        }
        th {
            padding: 0 50px;
        }
        .button {
            margin: 4% auto 0;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="page">
    <header class="navbar-expand-md d-print-none header1">
        <div class="container-xl">
            <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="/">
                    <img src="/static/img/MCC_logo.png" alt="" width="110" height="32" viewBox="0 0 232 68" class="navbar-brand-image">
                </a>
                <span>
                    &nbsp;MCC Bot Manager
                </span>
            </div>
        </div>
    </header>
    <div class="page-body">
        <h1>通过 Web 管理 Minecraft console client 连接 Minecraft 服务器</h1>
        <table>
            <tr>
                <th>支持各版本Minecraft</th>
                <th>每人有3个免费Bot名额</th>
            </tr>
            <tr>
                <th>支持Bot消息记录保存</th>
                <th>支持Bot实时执行指令</th>
            </tr>
            <tr>
                <th>支持在线修改配置</th>
                <th>支持打开各种chatbot</th>
            </tr>
        </table>
        <div class="button">
            <a href="/login" class="btn btn-secondary" role="button">登录</a>
            &nbsp;
            <a href="/reg" class="btn btn-primary" role="button">注册</a>
            &nbsp;
            <a href="https://git.wupeng1.top/2508932142/MCC-Web" class="btn btn-dark" role="button">项目源码</a>
        </div>
    </div>
</div>
</body>
</html>